**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.dbmdl
**/bin
**/charts
**/docker-compose*
**/node_modules
**/npm-debug.log
**/obj
README.md
**/*.db-shm
**/*.db-wal
