<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" />
    </handlers>
    <httpPlatform processPath="node"
                  arguments="server.js"
                  startupTimeLimit="60"
                  startupRetryCount="2"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\stdout">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="WHATSAPP_PUPPETEER_HEADLESS" value="true" />
        <environmentVariable name="WHATSAPP_API_KEY" value="__WHATSAPP_API_KEY__" />
        <environmentVariable name="WHATSAPP_AUTH_PATH" value="__WHATSAPP_AUTH_PATH__" />
        <environmentVariable name="PUPPETEER_EXECUTABLE_PATH" value="__PUPPETEER_EXECUTABLE_PATH__" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
